* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: monospace;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    background-color: #000000;
    color: #00FF00;
}


#chat-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 600px;
        border: 1px solid #00ff00;
        border-radius: 10px;
        background-color: #000000;
        overflow: hidden;
        margin-top: 30px;
}


#loading {
   color: lime;
   position: absolute;
   padding: 5px;
   font-size: 10px;
   background: #111;
   border: 1px solid #00ff00;
   white-space: pre-wrap;
   bottom: 10px;
   left: 10px;
   width: 96%;
   display: block!important;
   font-family:monospace;
   box-sizing: border-box;
}

.chat_line{
    display:block;
}
.colon{
    display:none;
}

.chat_line {
        display: flex;
        align-items: center;
        padding: 10px;
        background-color: #004400;
        color: #00ff00;
}

.user-info {
        background: #53fc18;
        padding: 2px 15px 2px 10px;
        border-radius: 5px;
        margin-left: 10px;
        margin-right: 10px;
        display: inline-flex;
        align-items: center;

}


.badges{
    display:flex;
}

.badges img{
        width: 50%;
        height: 50%;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
}

.username {
        color: #00FF00;
        margin-left: 2px;
        font-size: 16px;
        line-height:24px;
        font-weight:600;
        font-family:"Open Sans", sans-serif;!important;
}