* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: monospace;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    background-color: #000000;
    color: #00FF00;
}


#chat-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 600px;
    border: 1px solid #00FF00;
    border-radius: 10px;
    background-color: #000000;
    overflow: hidden;
    margin-top: 30px;
}

#loading {
   color: #00FF00;
   position: absolute;
   padding: 5px;
   font-size: 10px;
   background: #111;
   border: 1px solid #00ff00;
   white-space: pre-wrap;
   bottom: 10px;
   left: 10px;
   width: 96%;
   display: block!important;
   font-family:monospace;
   box-sizing: border-box;
}


.user-info {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    background-color: #004400;
    color: #00FF00;
}


.badges img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
}

.username {
   font-weight: bold;
    margin-right: 10px;
}

.colon {
    display: none;
}

.message_content {
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background-color: #000000;
    align-self: flex-start;
    color: #00FF00;
}


.message-header {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.message-header .avatar {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
}

.message-header .username {
    font-weight: bold;
    margin-right: 10px;
}